.container
  %h1= link_to t('.new', :default => t("helpers.links.new")), new_snippet_path, :class => 'btn btn-primary'
%table.table.table-striped
  %tbody
    - @snippets.each do |snippet|
      %tr
        %td= link_to snippet.description, snippet

